/* General styles for the cinema system page */
.cinema-system {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
}

.cinema-system .cinema-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.cinema-system .cinema-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cinema-system .cinema-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.cinema-system .cinema-poster-placeholder {
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
}
.cinema-system .cinema-item img {
  width: 100%;
  height: 150px;
}
.cinema-system .cinema-name {
  font-size: 1.2em;
  color: #7add58;
  margin-bottom: 10px;
}

.cinema-system .cinema-details-button {
  background-color: #7add58;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cinema-system .cinema-details-button:hover {
  background-color: #0be039;
}
