/* General Styles for the Homepage Header Component */
.homepage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7add58;
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header-title {
  font-size: 2em; /* Increase font size */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-title a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-title a:hover {
  color: #055d05; /* Dark green on hover */
}

.navbar {
  display: flex;
  gap: 25px; /* Increase gap for spacing */
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1em; /* Increase font size */
  transition: color 0.3s ease;
  position: relative;
}

.navbar a:hover {
  color: #055d05; /* Dark green on hover */
}

.navbar a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #055d05; /* Dark green underline */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar a:hover::after {
  width: 100%;
}

.location-selector {
  padding: 10px 15px;
  font-size: 1em; /* Increase font size */
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.location-selector:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #055d05; /* Dark green on hover */
}

.login-button {
  background-color: #0cad0c;
  color: white;
  border: none;
  padding: 12px 28px; /* Increase padding for a larger button */
  font-size: 1em; /* Increase font size */
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: #055d05; /* Dark green on hover */
  transform: scale(1.05);
  color: #ffffff;
}
