.password-recovery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  background-color: #f4f4f4;
}

.password-recovery-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.password-recovery-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.password-recovery-form .form-group {
  margin-bottom: 20px;
}

.password-recovery-form .form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.password-recovery-form .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
  box-sizing: border-box;
}

.password-recovery-form .form-group input:focus {
  border-color: #28a745; /* Màu xanh lá khi focus vào ô nhập */
}

.password-recovery-form .error-message {
  color: #d9534f; /* Đỏ cho thông báo lỗi */
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.password-recovery-form .submit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #28a745; /* Nút gửi yêu cầu phục hồi màu xanh lá */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-recovery-form .submit-button:hover {
  background-color: #006400; /* Xanh lá đậm khi hover */
}

.password-recovery-form .submit-button:active {
  background-color: #004d00; /* Xanh lá rất đậm khi nhấn */
}

.password-recovery-form .go-back {
  margin-top: 20px;
  text-align: center;
}

.password-recovery-form .go-back button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.password-recovery-form .go-back button:hover {
  color: #0056b3; /* Xanh đậm khi hover */
  text-decoration: underline;
}
