.cinema-management-system {
    background-color:  #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 47em;
}
.add-button {
    background-color: rgba(47, 216, 4, 1);
    color: white;
    border-radius: 10px;
    width: 8em;
    height: 3em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .add-button:hover {
    background-color: rgba(57, 193, 23, 1);
  }
  
  .cinema-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cinema-table th,
  .cinema-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .cinema-table th {
    background-color: rgba(57, 193, 23, 1);
    color: white;
    text-transform: uppercase;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input:checked + .slider {
    background-color: #4caf50;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .view-button,
  .edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  transition: color 0.3s;
}

.view-button i {
  color: #17a2b8; /* Màu xanh cho nút xem */
}

.edit-button {
  color: #007bff;
}

.delete-button {
  color: #dc3545;
}

.view-button:hover i {
  color: #138496; /* Thay đổi màu khi hover */
}

.edit-button:hover {
  color: #0056b3;
}

.delete-button:hover {
  color: #c82333;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  
  .modal-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .modal-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .close-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .close-button:hover {
    background-color: #5a6268;
  }
  
  .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  

   