body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

.admin-layout{
  display: flex;
  height: 100vh;
}

.header {
}

/* Sidebar */
.sidebar {
  position: fixed; /* Cố định sidebar */
  top: 0;
  left: 0;
  width: 12%; /* Đặt chiều rộng cho sidebar */
  height: 100%; /* Chiều cao đầy đủ của màn hình */
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao */
  z-index: 1000; /* Đảm bảo sidebar nằm trên các phần tử khác */
}

/* Main Content (Không bị che khuất bởi sidebar) */
.main-container {
  margin-left: 14%; /* Đảm bảo không bị che khuất bởi sidebar (thêm một chút để tạo khoảng cách) */
  flex: 1;
  padding: 20px;
  background-color: rgba(237, 249, 231, 1);
}

.admin-content {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 20px;
  padding-bottom: 100px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 42em;
}
